html,
body {
  width: 100vw;
  animation: bodyFadeIn 1s;
  animation-timing-function: ease-in-out;
  background-position: center;
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

html {
  scroll-snap-type: y mandatory;
}

.content {
  display: flex;
  flex-direction: column;
}
