.my-photo {
  border-radius: 50%;
  width: 150px;
  position: relative;
  border: 2px solid white;
  pointer-events: auto;
  transition: scale 0.5s;
  box-shadow: 0px 0px 20px rgb(183, 14, 195);
}

.my-photo:hover {
  scale: 1.2;
  box-shadow: 0px 0px 20px rgb(183, 14, 195);
}


