.my-photo {
  border-radius: 50%;
  width: 150px;
  position: relative;
  pointer-events: auto;
  transition: scale 0.5s;
  box-shadow: 0px 0px 20px rgb(90, 87, 87);
}

.my-photo:hover {
  scale: 1.2;
  box-shadow: 0px 0px 20px rgb(90, 87, 87);
}

.about-photo {
  border-radius: 10px;
  width: 200px;
  margin-top: 20px;
  position: relative;
  pointer-events: auto;
  transition: scale 0.5s;
  box-shadow: 0px 0px 20px rgb(90, 87, 87);
  &:hover {
    scale: 1.1;
  }
}
